.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      padding-top: 70px;
      width: 100%;
      height: 100vh;
      scroll-snap-align: start;
    }
  }
}
